* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.hero {
  position: relative;
  height: 100svh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/img2.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content {
  background-color: #d62a2a;
  min-height: 100vh;
  overflow: hidden;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1c1c1c;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.show-nav {
  display: none;
}

.abrir-menu {
  display: none;
}
.svg {
  width: 100%;
  height: 50px;
}
.svg:hover {
  box-shadow: #d4af37 2px 2px 4px 2px;
  border-radius: 50%;
  transition: box-shadow 0.5s;
}

.navbar-menu > li > a {
  color: #d4af37;
  transition: color 0.5s;
  font-size: 1rem;
  font-weight: bold;

  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.navbar-menu > li > a:hover {
  background-color: #ffd700;
  transition: background-color 0.8s;
}

img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

.footer {
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  margin: 0;
}

@media (max-width: 480px) {
  .image-container {
    height: 100%;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
  }

  .main-nav {
    opacity: 0;
    visibility: hidden;

    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #492424;
    padding: 2rem;
  }
  .main-nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .abrir-menu,
  .cerrar-menu {
    display: none;
  }
}

/* Estilos para el login */
